<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="719ecdd6-e86c-4ab0-986d-ad0f753b9320" Alias="about" Level="2">
  <Info>
    <Name>About</Name>
    <Icon>icon-info color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="786ad153-5c8e-43dd-9962-b4a14eede448">contentProperties</Composition>
      <Composition Key="474d9ba5-78cc-4042-b355-16887fe016c2">headerProperties</Composition>
      <Composition Key="e7f18441-519e-402a-868a-4264ab98ff5f">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>About</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6e080eeb-95f5-42de-a44a-65f5a21e3517">About</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>