<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8846c290-63e2-445b-9499-ab1a67b9b01d" Alias="homePage" Level="2">
  <Info>
    <Name>HomePage</Name>
    <Icon>icon-home color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The starting page of the site.</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="474d9ba5-78cc-4042-b355-16887fe016c2">headerProperties</Composition>
      <Composition Key="73583c2a-fa60-42c2-a6c1-b5651c5e1a86">navigationProperties</Composition>
      <Composition Key="7a67de9c-6e5a-40d7-aa69-aa3e68de6d37">productListProperties</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a921365b-636e-4ed4-b49b-c85e7b06d489">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="719ecdd6-e86c-4ab0-986d-ad0f753b9320" SortOrder="1">about</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>