<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="befd121a-9e4c-46cb-8007-e322ab922732" Alias="product" Level="2">
  <Info>
    <Name>Product</Name>
    <Icon>icon-ball color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A Product we are selling</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements</Folder>
    <Compositions>
      <Composition Key="31ff45e5-3d52-40eb-ab2c-74b66b9703b7">productProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>