<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7a67de9c-6e5a-40d7-aa69-aa3e68de6d37" Alias="productListProperties" Level="2">
  <Info>
    <Name>ProductList Properties</Name>
    <Icon>icon-defrag color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2527ee0a-a222-42de-8447-23c0ba1c0076</Key>
      <Name>ListOfProducts</Name>
      <Alias>listOfProducts</Alias>
      <Definition>0bdd4b89-eb4c-4970-b79a-663675523430</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the products]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="products">Products</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a3e3a40b-38a4-49e8-8ffe-cc2f002936bf</Key>
      <Caption>Products</Caption>
      <Alias>products</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>