@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.About>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}
 
        <div class="row">
            <div class="col-lg-5 col-md-10 mx-auto">
			<h3>
        		<p class="text-center">@Model.BodyText</p>
        	</h3>
	</div>

</div>
