<?xml version="1.0" encoding="utf-8"?>
<DataType Key="569df9d3-217d-4c1c-a555-9ed54ded4954" Alias="[Multi Url Picker] Single Url Picker" Level="1">
  <Info>
    <Name>[Multi Url Picker] Single Url Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>