<?xml version="1.0" encoding="utf-8"?>
<DataType Key="309a457e-aca6-4a8f-b106-acc108c776f2" Alias="Price" Level="1">
  <Info>
    <Name>Price</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "min": 1
}]]></Config>
</DataType>