<?xml version="1.0" encoding="utf-8"?>
<Media Key="c4ab83be-ca37-48e6-b4b3-ca2246cb6179" Alias="Computer" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Computer</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-29T19:02:40</CreateDate>
    <NodeName Default="Computer" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xcblxrbx/computer.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>