<?xml version="1.0" encoding="utf-8"?>
<Content Key="9d041a23-13f7-4d01-b6ef-eafdf72890d5" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2022-09-29T15:56:07</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a921365b-636e-4ed4-b49b-c85e7b06d489">HomePage</Template>
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
    <listOfProducts>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c79253447e23403790d6196a47364ad2"
      },
      {
        "contentUdi": "umb://element/5d78d24518ca480f9c1faf3b20eda75d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "befd121a-9e4c-46cb-8007-e322ab922732",
      "udi": "umb://element/c79253447e23403790d6196a47364ad2",
      "productName": "Paper",
      "productId": "1",
      "productImage": "[\r\n  {\r\n    \"key\": \"5f2fb280-752d-41dc-81ee-7c47f5c9ae82\",\r\n    \"mediaKey\": \"20bf3b98-1528-4e70-a09b-47028cecd5b9\"\r\n  }\r\n]",
      "price": "400",
      "productRating": "4"
    },
    {
      "contentTypeKey": "befd121a-9e4c-46cb-8007-e322ab922732",
      "udi": "umb://element/5d78d24518ca480f9c1faf3b20eda75d",
      "productName": "Penna",
      "productId": "2",
      "productImage": "[\r\n  {\r\n    \"key\": \"4d42aa90-70d2-4ef9-9072-f17a050a14d0\",\r\n    \"mediaKey\": \"20bf3b98-1528-4e70-a09b-47028cecd5b9\"\r\n  }\r\n]",
      "price": "300",
      "productRating": "2"
    }
  ],
  "settingsData": []
}]]></Value>
    </listOfProducts>
    <mainNavigation>
      <Value><![CDATA[[
  {
    "key": "0a8980c2-9406-4d20-9809-0c0b32d11849",
    "name": "Home",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Home",
    "link": "[{\"name\":\"Home\",\"udi\":\"umb://document/9d041a2313f74d01b6efeafdf72890d5\"}]",
    "sublinks": null
  },
  {
    "key": "521f70ab-dfc7-467f-9b25-9414cd542e47",
    "name": "About",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "About",
    "link": "[{\"name\":\"About\",\"udi\":\"umb://document/0b086f2039a4469e9b9d4875908a5166\"}]",
    "sublinks": null
  },
  {
    "key": "bc64d233-d111-4ed5-8031-63f447f0b74d",
    "name": "Links",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Links",
    "link": "[{\"name\":\"Google\",\"url\":\"https://www.google.se/\"}]",
    "sublinks": "[{\"name\":\"FZ\",\"url\":\"https://www.fz.se/\"},{\"name\":\"F1\",\"url\":\"https://www.formula1.com/\"}]"
  }
]]]></Value>
    </mainNavigation>
    <subtitle>
      <Value><![CDATA[Min fina sida]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Shop]]></Value>
    </title>
  </Properties>
</Content>